.state-time {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  background-color: blanchedalmond;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

}

.tab ul{
  display: flex;
  justify-content: left;
  flex-direction: row;
  
}

.tab h1 {
  /* display: flex; */

  background-color: lightblue;
  border-radius: 4px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  width: 40px;
  height: 20px;
  text-align: center;
}

.tab article {
  text-align: center;
  border-style: solid;
  border-color: black;
  width: 190px;
  height: 400px;
  position: fixed;
  left: 2.55%;
  bottom: 39.5%
}

.weather {
  border-style: solid;
  width: 200px;
  height: auto;
  position: fixed;
  left: 30%;
  bottom: 50%;
  text-align: center;
}

.autocomplete {
  border-style: solid;
  width: 300px;
  height: 200px;
  position: fixed;
  left: 50%;
  bottom: 50%;
  text-align: center;
}


