<div class="masthead">

    <div class="language-nav">
        <ul>
            <li id="first_child"><a href="#">CSS</a></li>
            <li> <a href="#">HTML</a></li> 
            <li><a href="#">Javascript</a></li>
            <li> <a href="#">Ruby</a></li> 
        </ul>
    </div>

    <div class="logo">
     <img src="assets/AA_Times_Logo.png" alt="AA Logo" height="20" width="20">
    </div>
    

    <div class="masthead-links">
    <time> </time>
    <ul>
       <li><time>Tuesday, October 18, 2016</time></li>
       <li>
        <i class="far fa-newspaper"></i>
        <a href="#"> Today’s Paper </a></li>
       <li>
       <i class="fas fa-video"></i>
       <a href="#">Video</a></li>
       <li>77°F</li>
       <li><button>AAO <strong>100%</strong></button></li>
    </ul>
    </div>

</div>

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%