<h2> <%= @user.username %>'s Profile</h2>

<a href="<%= user_subs_url(@user) %>">Subs</a>
<br>

<% if logged_in? && @user.id == current_user.id  %>
    <a href="<%= new_sub_url %>">Create a Sub</a>
<% end %>

<br>
<a href="<%= users_url %>"> Home Page </a>
