<form action="<%= band_url %>" method="POST">
  <input type="hidden" name="_method" value="PATCH"
  <label>Band name:
    <input type="text" name="band[name]" value="<%= @band.name %>">
  </label>
  <input type="submit" value="Update Band Name">

</form>