<form action="<%= bands_url %>" method="POST">
  <label>Band name:
    <input type="text" name="band[name]" value="<%= @band.name %>">
  </label>
  <input type="submit" value="Create new band">

</form>